/* For the Subject of the post */
#subHead{
    text-align:center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/* For Author name and Edit/Save Button */
#headName{
    display: flex;
    justify-content: space-between;
    margin: 2% 100px;
}

/* For the Author Name */
#nameHead{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

/* For the Content */
#contentHead{
    text-align: justify;
    font-family: 'Inconsolata', monospace;
    margin: 6%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
}

/* For the Edit/Save Button */
.edit{
    height: 40px;
    width: 80px;
    border: 0px;
    background-color: rgb(255, 0, 98);
    color: white;    
    box-shadow: 1px 5px 10px  #a7a7a7;
}

/* When we hover on Edit/Save Button */
.edit:hover{
    border: 2px solid rgb(184, 7, 75);
    background-color: rgb(184, 7, 75);
}

/* For the whole Content */
#allCont{
    margin-top: 3%;
}

/* When Content is editable */
.editor {
     border: 2px solid rgb(255, 72, 160);
}
  
/* When Content is Editable, to remove the outlining of the content when focused */
[contenteditable]:focus {
    outline: 0px;
  } 



/* For Like Feat */

/* Whole Like Div*/
#LikeDiv{
    margin-left:6%;
    margin-top: 4%;
}

/* Like Text */
#likeText{
    margin-top: 1%;
    color: rgb(112, 112, 112);
}