/* CSS for the background image */
body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* for center buttons */
#centerButton{
    display: flex;
    justify-content: center;
    align-items:center;
    height:600px;
}

.cenBut{
    height:30px;
    background-color:orange;
}