/* CSS for the background image */
body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
